<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/createPost.css">
</head>
<body>
    <main>
        <p>reset password link</p>
    <a class="gmailLink" href="https://mail.google.com/mail/u/0/#inbox" target="_blank">check mail</a>
    <a href="/">back</a>
    </main>
</body>
</html>