<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/createPost.css">
</head>
<body>
    <main>
        <h1>create post</h1>
    <form action="/login" method="post">
        <% if(errorMsg.length){%>
            <p class="failMsg"><%=errorMsg %></p>
        <% } %>
        <input type="text" name="email" placeholder="enter a email" value="<%=failFormData.email%>">
        <input type="password" name="password" placeholder="enter password" value="<%=failFormData.password%>">
         <input hidden name="_csrf" value="<%= csrfToken %>">
         <a class="forget" href="/reset_password">forget password?</a>
        <button>Login</button>
    </form>
    
    <a href="/">back</a>
    </main>
</body>
</html>