
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/createPost.css">
</head>
<body>
    <main>
        <h1>Reset password</h1>
    <form action="/reset_password/<%=token%>" method="post">
        <% if(errorMsg.length){%>
            <p class="failMsg"><%=errorMsg %></p>
        <% } %>
        <input type="password" name="newPassword" placeholder="new password">
        <input type="password" name="conformPassword" placeholder="conform password">
         <input hidden name="_csrf" value="<%= csrfToken %>">
        <button>update password</button>
    </form>
    
    <a href="/">back</a>
    </main>
</body>
</html>