main{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
}
h1{
    color: darkred;
}

form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px
}
input,textarea{
    padding-block: 5px;
    width: 100%;
    font-size: 1rem;
    border: 2px solid darkred;
    border-radius: 5px;
}
button{
    padding: 5px;
    text-align: center;
    width: 100%;
    font-size: 1rem;
    border-radius: 5px;
    color: white;
    background: darkred;
    border: 2px solid darkred;
    cursor: pointer;
}
a{
    position:absolute;
    top:10px;
    right: 20px;
    font-size: 1.2rem;
}

.failMsg{
    background-color: rgb(183, 2, 2);
    color: white;
    padding-block: 5px;
    width: 100%;
    text-align: center;
}
.forget{
    position: static;
    align-self: self-start;
    text-decoration: none;
}
.gmailLink{
    position: static;
}
p{
    background: darkred;
    color: white;
    width: 100%;
    text-align: center;
    padding-block: 5px;
}