h1{
    text-align: center;
    color: darkred;
}

p{
    opacity: .9;
}

header{
    width:80%;
    margin-inline: auto;
}
a{
    text-decoration: none;
    padding: 5px 10px;
    border: 2px solid darkred;
    background:darkred;
    color: white;
    border-radius: 5px;
    text-align: center;
}
section{
    width: 80%;
    margin:10px  auto 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
    gap:10px;

}
.card{
    border: 2px solid darkred;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
}
.card div{
    display: flex;
    justify-content: space-between;
}
.routeContainer{
    display: flex;
    flex-direction: row;
    gap:10px;

}
button{
   
    padding: 5px 15px;
    background: darkred;
    border: darkred;
    border-radius: 5px;
    color: white;
    line-height: 20px;
    
}
.userName{
    grid-column: 1/-1;
    display: grid;
    place-items: center;
}
.fourContainer{
    display: grid;
    place-items: center;
}
.fa-circle-user{
    font-size: 2rem;
    color: darkred;
}